body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  height: 100px;
  color: whitesmoke;
  margin-bottom: 15px;
  font-size: 30px;
}

.navbar ul {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar a:hover {
  opacity: 0.6;
}
